.back{
    background-color: azure;
    border-radius: 3px;
    color: rgb(42, 42, 61);
    border-style: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin-right: auto;
    margin-top: 5px;
}
.back:hover{
    color: azure;
    background-color:rgb(42, 42, 61) ;
}
.d-card{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 800px;
    height: 1300px;
    margin: 50px;
    background-color:  rgba(31, 31, 42, 0.842);
    color: azure;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    padding: 12px;
} 
.d-img{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 320px;
    border-radius: 10px;
}