.botones{
    background-color: rgb(42, 42, 61);
    border-radius: 5px;
    color: azure;
    border-style: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1px;
}
.botones:hover{
    padding: 8px;
}

.select{
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
}