.input{
    border-radius: 0.25rem;
    font-size: 16px;
}
.btn{
    background-color: rgba(31, 31, 42, 0.787);
    border-radius: 5px;
    color: azure;
    border-style: none;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1px;
}
.btn:hover{
    background-color: rgb(42, 42, 61);
}
